.DS_Store
Collaborative_Filtering_Serve/__pycache__
Collaborative_Filtering_Serve/.pytest_cache
Collaborative_Filtering_Serve/exported_data
Collaborative_Filtering_Serve/tests/__pycache__
Collaborative_Filtering_Serve/tests/.pytest_cache
Collaborative_Filtering_Serve/utilities/__pycache__
.env