.DS_Store
__pycache__
collaborative_filtering_serve/__pycache__
collaborative_filtering_serve/.pytest_cache
collaborative_filtering_serve/exported_data
collaborative_filtering_serve/tests/__pycache__
collaborative_filtering_serve/tests/.pytest_cache
collaborative_filtering_serve/utilities/__pycache__
.env